{% extends "base.html" %}

{% block content %}
   <div class="container">
      <div class="row">
        <h1 class="text-center">Bienvenido a Voy Express</h1>
      </div>
    </div>
    <div class="container">
      <div class="row m-0 vh-100 justify-content-center align-content-center">
        <div class="btn-group-vertical col-auto text-center">
          <button type="button" class="btn btn-outline-secondary btn-lg">Solicitar servicio</button>
          <button type="button" class="btn btn-outline-secondary  btn-lg">Buscar servicios</button>
        </div>
      </div>
    </div>
{% endblock content %}